AIRFLOW_UID=50000

POSTGRES_DB=local_social_analytics_db
POSTGRES_USER=local_social_analytics_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
SOCIAL_ANALYTICS_AIRFLOW_LOAD_TARGET=json
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=
YOUTUBE_CHANNEL_HANDLE=
YOUTUBE_MAX_PAGES=1
YOUTUBE_SMOKE_LOOKBACK_DAYS=30

AIRFLOW_POSTGRES_DB=local_airflow_db
AIRFLOW_POSTGRES_USER=local_airflow_user
AIRFLOW_POSTGRES_PASSWORD=

AIRFLOW_REDIS_DB=0
AIRFLOW_API_PORT=8080
AIRFLOW_ADMIN_USERNAME=local_airflow_admin
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=Local
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=local-airflow-admin@example.invalid
